<div class="container">
  <table id="cart" class="table table-hover table-condensed">
    <thead>
    <tr>
      <th style="width:50%">Product</th>
      <th style="width:10%">Price</th>
      <th style="width:8%">Quantity</th>
      <th style="width:22%" class="text-center">Subtotal</th>
      <th style="width:10%"></th>
    </tr>
    </thead>
    <tbody>
    <% @product.each do |product, product_items| %>
      <% product_items.each do |item| %>
        <td data-th="Product">
          <div class="row">
            <div class="col-sm-3 hidden-xs"><%= image_tag product.img_src, class: '' %></div>
            <div class="col-sm-8">
              <h4 class="nomargin"><%= product.title %></h4>
              <% attributes = product_items[0][0].attribute_names - %w(id created_at updated_at valve_id pipe_id radiator_id price) %>
              <% attributes.each do |attr| %>
                <%= attr %>
                <%= item[0][attr] %>
                <br>
              <% end %>
              </p>
            </div>
          </div>
        </td>
        <td data-th="Price"><%= number_to_currency(item[0].price) %></td>
        <% shopping_cart_item = @shopping_cart_items.find(item[3]) %>
        <%= form_for(shopping_cart_item, :html => {:method => :patch, :remote => true}) do |f| %>
          <td data-th="Quantity">
            <%= f.number_field :amount, value: item[1] %>
          </td>
          <td data-th="Subtotal" class="text-center"><%= number_to_currency(item[2]) %></td>
          <td class="actions" data-th="">
            <%= button_tag type: 'submit', class: 'btn btn-info btn-sm' do %>
              <i class="fa fa-refresh"></i>
            <% end %>
        <% end %>
        <%= form_for(shopping_cart_item, :html => {:method => :delete, :remote => true},
                     data: {confirm: 'Are you sure?'}) do |f| %>
          <%= button_tag type: 'submit', class: 'btn btn-danger btn-sm' do %>
            <i class="fa fa-trash-o"></i>
          <% end %>

          </td>
        <% end %>
        </tbody>
      <% end %>
    <% end %>
    <tfoot>
    <tr>
      <td><%= link_to 'Continue Shopping', root_path, class: 'btn btn-warning' %></td>
      <td><%= button_to 'Empty cart', @shopping_cart, :method => :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %></td>
      <td colspan="1" class="hidden-xs"></td>
      <td class="hidden-xs text-center"><strong>Total <%= number_to_currency(@shopping_cart.total_price) %></strong>
      </td>
      <td>
        <button type="button" class="btn btn-success" id ='btn-modal' data-toggle="modal" data-target="#userdata-modal">
          Checkout
        </button>
      </td>
    </tr>
    </tfoot>
    </table>
</div>

<div class="modal fade" id="userdata-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Enter contact information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_for @customer do |f| %>
          <div class="form-group">
            <div><%= f.label :first_name %></div>
            <div><%= f.text_field :first_name, class: 'form-control' %></div>
          </div>
          <div class="form-group">
            <div><%= f.label :last_name %></div>
            <div><%= f.text_field :last_name, class: 'form-control' %></div>
          </div>
          <div class="form-group">
            <div><%= f.label :email %></div>
            <div><%= f.email_field :email, class: 'form-control' %></div>
          </div>
          <div class="form-group">
            <div><%= f.label :telephone %></div>
            <div><%= f.telephone_field :telephone, class: 'form-control',placeholder:'375 XX XXX XX XX' %></div>
          </div>
          <div class="modal-footer">
            <%= f.submit 'submit', class: 'btn btn-primary' %>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>