<div id="show">
  <h2>Admin page</h2>
</div>
<ul class="nav nav-tabs" id="Tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Products</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="admins-tab" data-toggle="tab" href="#admins" role="tab" aria-controls="profile" aria-selected="false">Admins</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="orders-tab" data-toggle="tab" href="#orders" role="tab" aria-controls="contact" aria-selected="false">Orders</a>
  </li>
</ul>
<div class="tab-content" id="TabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <h2>Add new product</h2>
    <table class="table table-striped">
      <tr>
        <th>Product</th>
        <th>Add new product</th>
        <th>Add from file</th>
        <th>Add new product description</th>
        <th>Add from file</th>
      </tr>
      <tr>
        <td>Pipe</td>
        <td><%= link_to 'new product', new_pipe_path, class: 'btn btn-primary' %></td>
        <td>
          <%= form_tag import_from_file_pipes_path, multipart: true do %>
            <%= file_field_tag :file, id: 'file-input-pipes' %>
            <label for="file-input-pipes" class="btn btn-dark">
              <span class="upload">Choose file</span>
            </label>
            <%= submit_tag 'Import file', class: 'btn btn-dark' %>
          <% end %>
        </td>
        <td><%= link_to 'new product item', new_pipe_descr_path, class: 'btn btn-primary' %></td>
        <td>
          <%= form_tag import_from_file_pipe_descrs_path, multipart: true do %>
            <%= file_field_tag :file, id: 'file-input-pipe-descrs' %>
            <label for="file-input-pipe-descrs" class="btn btn-dark">
              <span class="upload">Choose file</span>
            </label>
            <%= submit_tag 'Import file', class: 'btn btn-dark' %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>Valve</td>
        <td><%= link_to 'new product', new_valf_path, class: 'btn btn-primary' %></td>
        <td>
          <%= form_tag import_from_file_valves_path, multipart: true do %>
            <%= file_field_tag :file, id: 'file-input-valves' %>
            <label for="file-input-valves" class="btn btn-dark">
              <span class="upload">Choose file</span>
            </label>
            <%= submit_tag 'Import file', class: 'btn btn-dark' %>
          <% end %>
        </td>
        <td><%= link_to 'new product item', new_valve_descr_path, class: 'btn btn-primary' %></td>
        <td>
          <%= form_tag import_from_file_valve_descrs_path, multipart: true do %>
            <%= file_field_tag :file, id: 'file-input-valve-desrcs' %>
            <label for="file-input-valve-desrcs" class="btn btn-dark">
              <span class="upload">Choose file</span>
            </label>
            <%= submit_tag 'Import file', class: 'btn btn-dark' %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>Radiator</td>
        <td><%= link_to 'new product', new_radiator_path, class: 'btn btn-primary' %></td>
        <td>
          <%= form_tag import_from_file_radiators_path, multipart: true do %>
            <%= file_field_tag :file, id: 'file-input-radiators' %>
            <label for="file-input-radiators" class="btn btn-dark">
              <span class="upload">Choose file</span>
            </label>
            <%= submit_tag 'Import file', class: 'btn btn-dark' %>
          <% end %>
        </td>
        <td><%= link_to 'new product item', new_radiator_descr_path, class: 'btn btn-primary' %></td>
        <td>
          <%= form_tag import_from_file_radiator_descrs_path, multipart: true do %>
            <%= file_field_tag :file, id: 'file-input-radiator-descrs' %>
            <label for="file-input-radiator-descrs" class="btn btn-dark">
              <span class="upload">Choose file</span>
            </label>
            <%= submit_tag 'Import file', class: 'btn btn-dark' %>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
  <div class="tab-pane fade" id="admins" role="tabpanel" aria-labelledby="admins-tab">
    <h2>Admins management</h2>
    <%= link_to 'new admin', admin_new_path, class: 'btn btn-secondary' %>
    <table class="table table-striped">
      <tr>
        <th>Email</th>
        <th>Sing in count</th>
        <th>Last sign in at</th>
        <th>Delete</th>
      </tr>
      <% @admin.each do |admin| %>
        <tr>
          <td><%= admin.email %></td>
          <td><%= admin.sign_in_count %></td>
          <td><%= admin.last_sign_in_at %></td>
          <td><%= link_to 'delete', destroy_admin_url(admin), :method => :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
    <h2>Order management</h2>
    <div class="row">
      <div class="col-3">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill"
             href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</a>
          <% @orders.each do |order| %>
            <a class="nav-link" id="v-pills-<%= order.id.to_s %>-tab"
               data-toggle="pill" href="#v-pills-<%= order.id.to_s %>"
               role="tab" aria-controls="v-pills-home"
               aria-selected="true">
              Order#:<%= order.id %>
            </a>
          <% end %>
        </div>
      </div>
      <div class="col-9">
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <h3>Export orders in file</h3>
            <%= link_to 'Download orders', admin_download_file_carts_path, method: :get, class: 'btn btn-success' %>
            <h3>Orders by day</h3>
            <%= line_chart ShoppingCart.group_by_day(:created_at).count %>
            <h3>Orders by Product</h3>
            <%= pie_chart [["Pipes", @pipes_count], ["Valves", @valves_count], ["Radiators", @radiators_count]] %>
          </div>
          <% @orders.each do |order| %>
            <div class="tab-pane fade" id="v-pills-<%= order.id.to_s %>" role="tabpanel" aria-labelledby="v-pills-<%= order.id.to_s %>-tab">
              <% customer = Customer.find(order.customer_id) %>
              <table class="table table-hover">
                <tr>
                  <th>Customer Full name</th>
                  <th>Email</th>
                  <th>telephone</th>
                </tr>
                <tr>
                  <td><%= customer.first_name.concat(' ').concat(customer.last_name) %></td>
                  <td><%= customer.email %></td>
                  <td><%= customer.telephone %></td>
                </tr>
              </table>
              <% shopping_cart = ShoppingCart.find(order.id) %>
              <div>Date: <%= shopping_cart.updated_at.nil? ? shopping_cart.updated_at : shopping_cart.created_at %></div>
              <span>Order status</span>
              <%= form_for(shopping_cart, :html => {:method => :patch}) do |f| %>
                <%= f.select :status, ['In processing', 'Paid', 'Delivered'], value: order.status %>
                <%= button_tag type: 'submit', class: 'btn btn-info btn-sm' do %>
                  <i class="fa fa-refresh"></i>
                <% end %>
              <% end %>
              <%= form_for(shopping_cart, :html => {:method => :delete},
                           data: {confirm: 'Are you sure?'}) do |f| %>
                <%= button_tag type: 'submit', class: 'btn btn-danger btn-sm' do %>
                  <i class="fa fa-trash-o"></i>
                <% end %>
              <% end %>
              <div class="container">
                <table id="cart" class="table table-hover table-condensed">
                  <thead>
                  <tr>
                    <th style="width:50%">Product</th>
                    <th style="width:10%">Price</th>
                    <th style="width:8%">Quantity</th>
                    <th style="width:22%" class="text-center">Subtotal</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% order.shopping_cart_items.each do |cart_item| %>
                    <% case cart_item.category_id %>
                  <% when 1
                       product = Pipe.find(cart_item.product_id)
                       product_descr = PipeDescr.find(cart_item.product_item_id)
                     when 2
                       product = Valve.find(cart_item.product_id)
                       product_descr = ValveDescr.find(cart_item.product_item_id)
                     when 3
                       product = Radiator.find(cart_item.product_id)
                       product_descr = RadiatorDescr.find(cart_item.product_item_id)
                     else
                       product = '' %>
                    <% end %>
                    <td data-th="Product">
                      <div class="row">
                        <div class="col-sm-3 hidden-xs"><%= image_tag product.img_src, class: '' %></div>
                        <div class="col-sm-8">
                          <h4 class="nomargin"><%= product.title %></h4>
                          <p>
                            <% attributes = product_descr.attribute_names - %w(id created_at updated_at valve_id pipe_id radiator_id price) %>
                            <% attributes.each do |attr| %>
                              <%= attr %>
                              <%= product_descr[attr] %>
                              <br>
                            <% end %>
                          </p>
                        </div>
                      </div>
                    </td>
                    <td data-th="Price"><%= number_to_currency(product_descr.price) %></td>
                    <td data-th="Quantity"><%= cart_item.amount %></td>
                    <td data-th="Subtotal" class="text-center"><%= number_to_currency(cart_item.total_price) %></td>
                    </tbody>
                  <% end %>
                  <td colspan="3" class="hidden-xs"></td>
                  <td class="hidden-xs text-center">
                    <strong>Total <%= number_to_currency(order.total_price) %></strong>
                  </td>
                  </table>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>