<h1>Edit Radiator item</h1>
<%= form_for @radiator_descr do |f| %>
  <% if @radiator_descr.errors.any? %>
    <% @radiator_descr.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger"><%= msg %></div>
    <% end %>
  <% end %>
  <div class="form-group">
    <div><%= f.label :radiator_id %></div>
    <div><%= f.text_field :radiator_id, class: 'form-control' %></div>
  </div>
  <div class="form-group">
    <div><%= f.label :height %></div>
    <div><%= f.text_field :height, class: 'form-control' %></div>
  </div>
  <div class="form-group">
    <div><%= f.label :length %></div>
    <div><%= f.text_field :length, class: 'form-control' %></div>
  </div>
  <div class="form-group">
    <div><%= f.label :weight %></div>
    <div><%= f.text_field :weight, class: 'form-control' %></div>
  </div>
  <div class="form-group">
    <div><%= f.label :price %></div>
    <div><%= f.text_field :price, class: 'form-control' %></div>
  </div>
  <%= f.submit 'submit', class: 'btn btn-primary' %>
  <%= link_to 'cancel', radiator_path(@radiator_descr.radiator_id), class: 'btn btn-default' %>

<% end %>