<h1>Edit Valve</h1>
<%= form_for @valve do |f| %>
  <% if @valve.errors.any? %>
    <% @valve.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger"><%= msg %></div>
    <% end %>
  <% end %>
  <div class="form-group">
    <div><%= f.label :title %></div>
    <div><%= f.text_field :title, class: 'form-control' %></div>
  </div>
  <div class="form-group">
    <div><%= f.label :img_src %></div>
    <div><%= f.text_field :img_src, class: 'form-control' %></div>
  </div>
  <div class="form-group">
    <%= f.label :category_id %>
    <%= f.hidden_field :category_id, class: 'form-control', value: @category_id %>
    <%= f.select :category_id, Category.all.collect {|x| [x.name, x.id]},
                 {:include_blank => 'select one'}, class: 'form-control' %>
  </div>
  <%= f.submit 'submit', class: 'btn btn-primary' %>
  <%= link_to 'cancel', valf_path(@valve), class: 'btn btn-default' %>

<% end %>