<h1>Add new Pipe</h1>
<%= form_for @pipe do |f| %>
  <% if @pipe.errors.any? %>
    <% @pipe.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger"><%= msg %></div>
    <% end %>
  <% end %>
  <div class="form-group">
    <div><%= f.label :title %></div>
    <div><%= f.text_field :title, class: 'form-control' %></div>
  </div>
  <div class="form-group">
    <div><%= f.label :img_src %></div>
    <div><%= f.text_field :img_src, class: 'form-control' %></div>
  </div>
  <div class="form-group">
    <%= f.hidden_field :category_id, value: @category_id %>
  </div>
  <%= f.submit 'submit', class: 'btn btn-primary' %>
  <%= link_to 'cancel', admin_path, class: 'btn btn-default' %>

<% end %>