<div id="show">
  <h2><%= @pipe.title %></h2>
  <div class="flex-container">
    <!--<div class="card">-->
    <%= image_tag @pipe.img_src, class: '' %>
    <!--</div>-->
    <section>
      <% if admin_signed_in? %>
        <% if @pipe.pipe_descr.first.nil? %>
          <p>No product items</p>
          <%= link_to 'new product item', new_pipe_descr_path, class: 'btn btn-secondary' %>
        <% else %>
          <table class="table table-striped">
            <tr>
              <th>Diameter</th>
              <th>Wall thickness</th>
              <th>Price</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
            <% @pipe.pipe_descr.each do |descr| %>
              <tr>
                <td><%= descr.diameter %></td>
                <td><%= descr.wall_thickness %></td>
                <td><%= descr.price %></td>
                <td><%= link_to 'Edit', edit_pipe_descr_path(descr), class: 'btn btn-warning' %>
                <td><%= link_to 'Delete', pipe_descr_path(descr), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %></td>
              </tr>
            <% end %>
          </table>
          </section>
          </div>
        <% end %>
        <div class="flex-container">
          <%= link_to 'Edit', edit_pipe_path(@pipe), class: 'btn btn-warning' %>
          <%= link_to 'Delete', pipe_path(@pipe), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %>
        </div>
      <% else %>
        <% if @pipe.pipe_descr.first.nil? %>
          <h3>We are waiting for the delivery of this product</h3>
          <p>keep in touch!</p>
        <% else %>
          <table class="table table-striped">
            <tr>
              <th>Diameter</th>
              <th>Wall thickness</th>
              <th>Price</th>
              <th></th>
            </tr>
            <% @pipe.pipe_descr.each do |descr| %>
              <tr>
                <td><%= descr.diameter %></td>
                <td><%= descr.wall_thickness %></td>
                <td><%= descr.price.to_s.concat('$') %></td>
                <td><%= button_to 'Add co cart',
                                  shopping_cart_item_path(
                                      category_id: '1', product_id: @pipe.id, product_item_id: descr.id,
                                      price: descr.price, amount: 1),
                                  class: 'btn btn-success' %></td>
              </tr>
            <% end %>
          </table>
        <% end %>
        </div>
      <% end %>

