<div id="index">
  <h1>Our products</h1>
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <% @pipes.each_slice(4) do |pipes_row| %>
          <% pipes_row.each do |pipe| %>
            <div class="card">
              <%= image_tag pipe.img_src, alt: 'pipe', class: 'card-img-top' %>
              <h5 class='card-title'><%= pipe.title %></h5>
              <%= link_to 'read more', pipe_path(pipe), class: 'btn btn-primary' %>
            </div>
          <% end %>
        <% end %>
        <% @radiators.each_slice(4) do |radiators_row| %>
          <% radiators_row.each do |radiator| %>
            <div class="card">
              <%= image_tag radiator.img_src, alt: 'pipe', class: 'card-img-top' %>
              <h5 class='card-title'><%= radiator.title %></h5>
              <%= link_to 'read more', radiator_path(radiator), class: 'btn btn-primary' %>
            </div>
          <% end %>
        <% end %>
        <% @valves.each_slice(4) do |valves_row| %>
          <% valves_row.each do |valve| %>
            <div class="card">
              <%= image_tag valve.img_src, alt: 'pipe', class: 'card-img-top' %>
              <h5 class='card-title'><%= valve.title %></h5>
              <%= link_to 'read more', valf_path(valve), class: 'btn btn-primary' %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-md-4 sidebar">
      <a href="#" class="list-group-item list-group-item-action active">All</a>
      <% @categories.each do |category| %>
        <%= link_to category.name, category_path(category.id), class: 'list-group-item list-group-item-action' %>
      <% end %>
    </div>
  </div>

</div>