<div id="index">
  <h1><%= @category.name %></h1>
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <% @products.each_slice(4) do |product_row| %>
          <% product_row.each do |product| %>
            <div class="card">
              <%= image_tag product.img_src, alt: 'product', class: 'card-img-top' %>
              <h5 class='card-title'><%= product.title %></h5>
              <% case @category.name %>
              <% when 'Pipes' %>
                <%= link_to 'read more', pipe_path(product), class: 'btn btn-primary' %>
              <% when 'Radiators' %>
                <%= link_to 'read more', radiator_path(product), class: 'btn btn-primary' %>
              <% when 'Valves' %>
                <%= link_to 'read more', valf_path(product), class: 'btn btn-primary' %>
              <% else %>
                <%= link_to 'read more', '#', class: 'btn btn-primary' %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-md-4 sidebar">
      <%= link_to 'All', categories_path, class: 'list-group-item list-group-item-action' %>
      <% @categories.each do |category| %>
        <% category.id.to_s == params[:id] ? cl = 'list-group-item list-group-item-action active' : cl = 'list-group-item list-group-item-action' %>
        <%= link_to category.name, category_path(category.id), class: cl %>
      <% end %>
    </div>
  </div>

</div>