<div id="show">
  <h2><%= @radiator.title %></h2>
  <div class="flex-container">
    <%= image_tag(@radiator.img_src) %>
    <section>
      <% if admin_signed_in? %>
        <% if @radiator.radiator_descr.first.nil? %>
          <p>No product items</p>
          <%= link_to 'new product item', new_radiator_descr_path, class: 'btn btn-secondary' %>
        <% else %>
          <table class="table table-striped">
            <tr>
              <th>Height</th>
              <th>Length</th>
              <th>Weight</th>
              <th>Price</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
            <% @radiator.radiator_descr.each do |descr| %>
              <tr>
                <td><%= descr.height %></td>
                <td><%= descr.length %></td>
                <td><%= descr.weight %></td>
                <td><%= descr.price %></td>
                <td><%= link_to 'Edit', edit_radiator_descr_path(descr), class: 'btn btn-warning' %>
                <td><%= link_to 'Delete', radiator_descr_path(descr), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %></td>
              </tr>
            <% end %>
          </table>
          </section>
          </div>
        <% end %>
        <div class="flex-container">
          <%= link_to 'Edit', edit_radiator_path(@radiator), class: 'btn btn-warning' %>
          <%= link_to 'Delete', radiator_path(@radiator), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %>
        </div>
      <% else %>
        <% if @radiator.radiator_descr.first.nil? %>
          <h3>We are waiting for the delivery of this product</h3>
          <p>keep in touch!</p>
        <% else %>
          <table class="table table-striped">
            <tr>
              <th>Height</th>
              <th>Length</th>
              <th>Weight</th>
              <th>Price</th>
              <th></th>
            </tr>
            <% @radiator.radiator_descr.each do |descr| %>
              <tr>
                <td><%= descr.height %></td>
                <td><%= descr.length %></td>
                <td><%= descr.weight %></td>
                <td><%= descr.price.to_s.concat('$') %></td>
                <td><%= button_to 'Add to cart',
                                  shopping_cart_item_path(
                                      category_id: '3', product_id: @radiator.id, product_item_id: descr.id,
                                      price: descr.price, amount: 1),
                                  class: 'btn btn-success' %></td>
              </tr>
            <% end %>
          </table>
        <% end %>
        </div>
      <% end %>